{% extends 'layout.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('contactAdd') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('contactAdd') }}
{% endblock %}
{% block body %}
    {% if app.user %}
        <div class="card">
            <div class="card-header bg-dark ">
                <h4>Ajouter un contact</h4>
            </div>
            <div class="card-body">
                {{ include('entreprise/contact/_form.html.twig') }}
            </div>
        </div>

    {% else %}
        <h1>Vous n'avez pas accés à cette page.</h1>
    {% endif %}
{% endblock %}
