@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import './layout.css';

.posts .navbar{
    width: 90%;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.posts input{
    color: white;
    background: transparent;
    padding: 6px 20px 6px 30px;
    border: 2px solid #ffffff;
}

.posts table{
    margin-top: 30px;
    position: relative;
    height: auto;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.posts th{
    text-align: center;
}

.posts td{
    text-align: center;
}
.dropdown-menu a{
    text-align: center;
    
}
.dropdown-menu a:hover{
    background: #343a40;
    color: white;
}

.clickabletd{
    cursor: pointer;
}
.posts {
    height: auto;
}

#postsTable #postsBody>tr:nth-child(4n+1) {
    background: rgba(0, 0, 0, 0.05);
}

#postsTable #postsBody>tr:nth-child(4n+3) {
    background: rgba(0, 0, 0, 0);
}

#postsTable #postsBody .searchHide:hover{
    background-color: rgba(0, 0, 250, 0.08);
}