@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import './layout.css';

.reg{
    background: transparent;
    border: 3px solid #343a40;
}
.reg-end{
    margin-bottom: 30px;
}
