{
    "tabWidth": 4,
    "useTabs": false,
    "overrides": [
        {
            "files": ["**/*.yaml", "**/*.lock"],
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
