Bienvenue sur l'application Pôle Yvon Morandat !

Confirmez votre adresse e-mail pour commencer dans l'application du Pôle Yvon Morandat :

<a href="{{ confirm_email_url }}">Confirmer mon adresse</a>

Ou suivez l'adresse :

<a href="{{ confirm_email_url }}">{{ confirm_email_url }}</a>
