Nous avons reçu une demande de modification de mot de passe.

Si cette demande ne vous concerne pas, vous pouvez ignorez ce mail.

Sinon, vous pouvez suivre ce lien :

<a href="{{ confirm_email_url }}">Modifier mon mot de passe</a>

Ou suivez l'adresse :

<a href="{{ confirm_email_url }}">{{ confirm_email_url }}</a>
