<!doctype html>
<html lang="fr" class="h-100">
<body>

<p>Nous avons reçu une demande de modification de mot de passe.<br/>
    <br/>
    Si cette demande ne vous concerne pas, vous pouvez ignorez ce mail.<br/>
    Le mail expire 24 heures après que qu'il a été envoyé.<br/>
    <br/>
    Sinon, vous pouvez suivre ce lien :<br/>
    <br/>
    <a href="{{ url('auth_reset_password', {'token': token}) }}">Modifier mon mot de passe</a><br/>
    <br/>
    Ou suivez l'adresse :<br/>
    <br/>
    <a href="{{ url('auth_reset_password', {'token': token}) }}">{{ url('auth_reset_password', {'token': token}) }}</a><br/>
</p>
</body>
</html>